/* custom.css */
* {
   box-sizing: border-box;
}

#root {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* Override pagination item styles */
.pagination .page-link {
   background-color: white !important;
   border-color: #dc3545 !important;
   color: #dc3545 !important;
}

.pagination .page-link:hover {
   background-color: #bb2d3b !important;
   border-color: #b02a37 !important;
   color: white !important;
}

/* Override active pagination item styles */
.pagination .page-item.active .page-link {
   background-color: #dc3545 !important;
   border-color: #dc3545 !important;
   color: white !important;
}

.product-item:hover,
.shop-item:hover {
   transform: scale(1.02);
}

footer a {
   text-decoration: none;
}

.truncate-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media only screen and (min-width: 768px) {

   .product-item,
   .shop-item {
      width: 18rem !important;
   }

   .product-item .row img {
      height: 20rem !important;
   }

   .product-item .row .card-body {
      padding-left: 2rem;
   }

   footer {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      gap: 1rem;
   }

   footer > div {
      width: 24%;
   }

   footer > div:last-child {
      width: 100%;
      position: relative;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
   }
}

header {
   position: sticky;
   top: 0;
   z-index: 100;
}
